<foreach name="result" item="res">
    <div class="sidebar-nav">
        <div class="sidebar-title">
            <a href="#">
                <span class="icon"><b class="fl icon-arrow-down"></b></span>
                <span class="text-normal"><{$res['title']}></span>
            </a>
        </div>
        <ul class="sidebar-trans">
            <foreach name="res['_data']" item="resdata">
                <li>
                    <a href="<{:U($resdata['name'])}>">
                        <b class="sidebar-icon"></b>
                        <span class="text-normal"><{$resdata['title']}></span>
                    </a>
                </li>
            </foreach>
        </ul>
    </div>
</foreach>